@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

body {

    box-sizing: border-box;
    background: linear-gradient(to right, rgb(39, 12, 38), rgb(16, 13, 34));
    font-family: "exo",Arial, Helvetica, sans-serif;
    color: rgb(90, 128, 38);
    /* overflow:hidden; */
}
.content{
    position: absolute;
    display:inline-block;
    border:2px solid black;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    transform: translate(-50%, -50%);
}
.container {
    padding: 12px;
    border: 1px solid black;
    background: linear-gradient(to right, rgb(8, 21, 24), rgb(10, 10, 24));
    border-radius: 19px;
    text-align: center;
    font-size: 5vw;
}
.btn{
    
    /* display: inline-block; */
    margin:2px;
    padding:1px;
}
#btn1{
    float:left;
}
#btn2{
    float:right;
}
.btn input{
    border:none;
    border-radius:10px;
    font-family: "exo";
    font-size:10px;
}
.btn input:hover{
    cursor:pointer;
background-color:grey;
}
